<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>商品詳細</title>
	<link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row">
			<div th:if="${error}" class="alert alert-danger" role="alert">
				<p th:text="${error}"></p>
			</div>
			<div th:if="${message}" class="alert alert-info" role="alert">
				<p th:text="${message}"></p>
			</div>
		</div>
		<div th:if="${itemStock}" class="p-3">
			<h2>商品詳細</h2>
			<table class="table table-bordered table-striped">
				<tbody>
					<tr>
						<th>商品ID</th>
						<td th:text="${itemStock.itemId}"></td>
					</tr>
					<tr>
						<th>商品名</th>
						<td th:text="${itemStock.itemName}"></td>
					</tr>
					<tr>
						<th>価格</th>
						<td th:text="${itemStock.stock}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.min.js}"></script>
</body>

</html>